.phone {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      // width: 30%;
      height: 640px;
      z-index: 10;
      user-select: none;
      & .imgPhone{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 320px;
            height: 640px;
            margin: 30px;
            pointer-events: none;
            & img {
                  width: 100%;
            }
      }
      & .questions {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 320px;
            height: 640px;
            margin: 0 0 30px 30px;
            padding: 10px 10px 10px 10px;
            &__inner {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  background: #fff;
                  text-align: center;
                  height: 100%;
                  border-radius: 26px;
                  -webkit-border-radius: 26px;
                  -moz-border-radius: 26px;
                  -ms-border-radius: 26px;
                  -o-border-radius: 26px;
                  & .header {
                        display: flex;
                        align-items: end;
                        justify-content: space-between;
                        background: #219ebc;
                        width: 95%;
                        height: 76px;
                        & div {
                              display: flex;
                              align-items: end;
                              gap: 12px;
                              padding: 12px 4px 4px 4px;
                              & span {
                                    font-size: 4rem;
                                    color: white;
                              }
                              & figure {
                                    width: 60px;
                                    border-radius: 12px;
                                    -webkit-border-radius: 12px;
                                    -moz-border-radius: 12px;
                                    -ms-border-radius: 12px;
                                    -o-border-radius: 12px;
                              }
                        }
                        & h1 {
                              text-align: end;
                              color: #fff;
                              font-size: 1.4rem;
                              margin-bottom: 12px;
                        }

                  }
                  & .topButtons {
                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;
                        height: 40px;
                        padding: 6px;
                        & button {
                              font-size: 2rem;
                              padding: 0 18px;
                              background: #219ebc;
                              color: #f0f0f0;
                              &:nth-child(2) {
                                    background: #f0f0f0;
                                    color: #219ebc;
                              }
                        }
                  }
                  & .mid {
                        min-height: 412px;
                  }
                  & .pregunta {
                        font-size: 1.6rem;
                        margin: 20px auto;
                        padding: 0 16px;
                        color: #219ebc;
                        text-align: start;
                  }
                  & .respuestas{
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        gap: 12px;
                        max-height: 300px;
                        overflow-y: auto;
                        margin: auto;
                        height: 260px;
                        font-size: 1.6rem;
                        &::-webkit-scrollbar {
                              display: none;
                        }
                        & button {
                              width: 100%;
                              height: 100%;
                              background-color: #f0f0f0;
                              color: #afafaf;
                              font-size: 1rem;
                              cursor: pointer;
                              & svg {
                                    width: 50%;
                              }
                              & .cls-1 {
                                    fill: #afafaf;
                                    stroke-width: 0px;
                              }
                              &:hover {
                                    background-color: #023047;
                              }
                        }
                        & .multisel{
                              display: flex;
                              align-items: center;
                              text-align: start;
                              background: #f0f0f0;
                              border-radius: 12px;
                              -webkit-border-radius: 12px;
                              -moz-border-radius: 12px;
                              -ms-border-radius: 12px;
                              -o-border-radius: 12px;
                              & input{
                                    width: 20px;
                                    min-width: 20px;
                                    height: 20px;
                                    min-height: 20px;
                                    margin-right: 20px;
                                    border: 1px solid #219ebc;
                                    border-radius: 4px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    -ms-border-radius: 4px;
                                    -o-border-radius: 4px;
                              }
                        }
                  }
                  & .send {
                        position: relative;
                        padding: 10px 40px;
                        margin: 20px auto;
                        float: left;
                        border-radius: 3px;
                        font-size: 20px;
                        color: #FFF;
                        text-decoration: none;
                        background-color: #023047;
                        border: none;
                        border-bottom: 5px solid #073e5a;
                        text-shadow: 0px -2px #07415e;
                        -webkit-transition: all 0.1s;
                        transition: all 0.1s;
                        -moz-transition: all 0.1s;
                        -ms-transition: all 0.1s;
                        -o-transition: all 0.1s;
                  }
                       
                  .send:hover, .send:active {
                  -webkit-transform: translate(0px,5px);
                  -ms-transform: translate(0px,5px);
                  transform: translate(0px,5px);
                  border-bottom: 1px solid #023047;
                  }
            }
      }
}