.box-scene {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100vh;
}
.panorama {
      height: 100%;
      width: 100%;
}
.pnlm-hotspot-base {
      &.spot {
            width: 60px;
            height: 60px;
            background-image: url('../../assets/iconScenes/produClick.png');
            background-size: cover;
            cursor: pointer;
            font-size: 1.4rem;
            &:hover {
                  width: 70px;
                  height: 70px;
            }
            &:active {
                  width: 55px;
                  height: 55px;
            }
      }
      &.m-spot {
            width: 60px;
            height: 60px;
            background-image: url('../../assets/iconScenes/nextScene.png');
            background-size: cover;
            cursor: pointer;
            font-size: 1.4rem;
            &:hover {
                  width: 70px;
                  height: 70px;
            }
            &:active {
                  width: 55px;
                  height: 55px;
            }
      }
      &.foto {
            width: 60px;
            height: 60px;
            background-image: url('../../assets/iconScenes/captureScreen.png');
            background-size: cover;
            cursor: pointer;
            & span {
                  font-size: 1.4rem;
                  width: auto;
                  max-width: 200px;
            }
            &:hover {
                  width: 70px;
                  height: 70px;
            }
            &:active {
                  width: 55px;
                  height: 55px;
            } 
      }

}